header {
  background-color: #111; /* Cor de fundo do cabeçalho */
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: #e50914; /* Cor do texto da logo */
  font-size: 2.0rem;
  text-decoration: none;
}

.favoritos {
  color: #fff; /* Cor do texto do link "Meus Filmes" */
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 2px solid #e50914; /* Cor da borda */
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.favoritos:hover {
  background-color: #e50914; /* Cor de fundo ao passar o mouse */
  color: #111; /* Cor do texto ao passar o mouse */
}
